<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Accueil', root_path %></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in?  %>
          <li><%= current_user.email %></li>
          <li><%= link_to 'Profil', user_path(current_user.id) %></li>
          <%= image_tag avatar_url(current_user), class:"img-circle avatar-small" %>
          <li><%= link_to 'Modifier profil', edit_user_registration_path %></li>
          <li><%= link_to 'Se deconnecter', destroy_user_session_path, method: :delete %></li>
        <% elsif plumber_signed_in? %>
          <li><%= current_plumber.email %></li>
          <li><%= link_to 'Profil', plumber_path(current_plumber.id) %></li>
          <%= image_tag avatar_url(current_plumber), class:"img-circle avatar-small" %>
          <li><%= link_to 'Modifier profil', edit_plumber_registration_path %></li>
          <li><%= link_to 'Se deconnecter', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Espace client', new_user_session_path %></li>
          <li><%= link_to 'Espace artisan', new_plumber_session_path %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>